{% load staticfiles %}
<html>

<head>
<title>ChatGlobal</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "css/chat.css" %}">

{% block js %}{% endblock %}
{% block css %}{% endblock %}
</head>

<body>

{% block content %}{% endblock %}

</body>