{% extends "base.html" %}
{% load staticfiles %}

{% block js %}

<script src="{% static "js/sockets.js" %}"></script>
<script src="{% static "js/chat.js" %}"></script>

{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to chatGLOBAL!</h1>
        <p>chatGLOBAL is...</p>
        <p>
            <button type="button" class="btn btn-primary" id="getUserInfo">
                Get started
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </p>
    </div>

    <div id="overlay">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="modal-title" id="myModalLabel">Let's get started</h2>
                <form role="form" class="center-block">
                    <div class="form-group">
                        <label for="user_name">What's your name?</label>
                        <input type="text" class="form-control" id="user_name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="user_lang">What's your language?</label>
                        <select class="form-control" id="user_lang">
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                            <option value="fr">French</option>
                        </select>
                    </div>
                </form>
                <button type="button" class="btn btn-default" id="overlay_cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="overlay_submit">Start chatting</button>
            </div>
        </div>
    </div>

    <div id="chat" class="hide">
        <div id="messages">
            <ul id="message_list" class="list-group">

            </ul>
        </div>
        <input type="text" id="message_in" />
    </div>

</div>

{% endblock %}